/* 2372057 Maria C */
*{
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;
}
img{
    width: 200px;
    height:200px;
    border-radius: 100%;
    padding:20px;

}
header,footer{
    background-color:lightgrey;
    text-align:center;
    padding:60px;
    height: 200px;
    width: 100%;
}
nav{
    display:flex;
    flex:wrap;
    background-color:black;
    justify-content:  center;
    position: sticky;
    top:0px;
}
nav a{
    color:white;
    text-align:center;
    padding:20px;
    text-decoration: none;
}
nav a:hover{
    background-color:lightgreen;
    color:black
}
@media screen and (max-width:600px){
    nav a{
        flex-direction:column;
        width:100%;
    }
}
main{
    display:flex;
    flex:wrap;
    text-align:justify;
}

aside{
    flex:30%;
    padding:20px;
}
article {
    flex:70%;
    padding:20px;
}
